/* 
    Document   : main
    Created on : May 2, 2013, 4:27:03 PM
    Author     : tarrsalah.org
    Description:
        Purpose of the stylesheet follows.
*/

#btn {			
	-fx-base:red;
	-fx-background-image: url("../images/Add.png");
	-fx-background-size: 18 18;
	-fx-background-repeat: no-repeat;
	-fx-background-position:left;	
}
